$vertical-gutter: 1rem;
$brand-primary: #ff5252;
$brand-secondary: #ff8a80;
$primary-complementary: #00BDCD;
$secondary-complementary: #A61B19;
$parragraph-color: #686868;
$gray-color: #686868;
$lightgray-color: #D7D7D7;
$disabled-color: #555;